<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shows</title>
    <style>
    table,tr,td,th{border:1px solid;border-collapse: collapse;padding: 10px;}
    tr:nth-child(even){background: #e3e3e3;}
    th{background: #0f5f73;color: white;}
    </style>
  </head>
  <body>
    <h1>Show details</h1>
    <table id="show-details">
      <tr>
        <th>Serial No</th>
        <th>Venue name</th>
        <th>Venue place</th>
        <th>Venue location</th>
        <th>Show time</th>
        <th>Ticket price</th>
        <th>Tickets left</th>
      </tr>
  {% set count=namespace(value=1) %}
  {% for link in links %}
  {% for venue in venues if link.venue_id==venue.id %}
      <tr>
      <td>{{count.value}}</td>
        <td>{{venue.name}}</td>
        <td>{{venue.place}}
      <td>{{venue.location}}</td>
      <td>{{link.time}}</td>
      <td>{{link.ticket_price}}</td>
        <td>{{link.tickets_left}}</td>
      </tr>
  {% set count.value=count.value+1 %}
  {% endfor %}
  {% endfor %}
    </table>
<a href="/">Back to home</a>
</html>