<!DOCTYPE html>
<html lang="en">
 <title>Search results</title>
 {% if authenticated==1 %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <title>Search results</title>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:seagreen" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ticketing app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/user/{{current_user.id}}/booking/history">Booking history</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/booking">Book Tickets</a>
            </li>
            <li class="nav-item">
              {% if current_user.is_authenticated and not current_user.is_admin %}
              <a class="nav-link" href="/user/logout">Logout</a>
            </li>
              {% endif %}
        </div>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search') }}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for venues based on location/tags/ratings/shows" aria-label="Search" name="query" style="width:450px;height:auto">
            
              </div>
          <button class="btn btn-outline-success mr-sm-0 my-sm-0 bg-dark" type="submit">Search</button>
        </form>
    </nav>
    {% elif authenticated==0 %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASearch results</title>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:seagreen">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ticketing app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/show">Shows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/venue">Venues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/venue/create">
                Venue Management
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/show/manage">
                Show Management
              </a>
            </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hello {{current_user.username}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item " href="/admin/logout">Click here to logout</a></li>                
            </ul>
              
        </div>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search') }}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for venues based on location/tags/ratings/shows" aria-label="Search" name="query" style="width:450px;height:auto">
            
              </div>
          <button class="btn btn-outline-success mr-sm-0 my-sm-0 bg-dark" type="submit">Search</button>
        </form>
    </nav>
    {% else %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Search results</title>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:seagreen">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Ticketing app</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/show">Shows</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/venue">Venues</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/login">Book Tickets</a>
              </li>
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login/Registration
              </a>
              <li class="nav-item dropdown"></li>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item " href="/user/login">Login</a></li>
                <li><a class="dropdown-item" href="/signup">Sign up</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/login">Admin login</a></li>
              </ul>
            </div>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search') }}">
  <input class="form-control mr-sm-2" type="search" placeholder="Search for venues based on location/tags/ratings/shows" aria-label="Search" name="query" style="width:450px;height:auto">
    
      </div>
  <button class="btn btn-outline-success mr-sm-0 my-sm-0 bg-dark" type="submit">Search</button>
</form>
  </nav>
              {% endif %}
          
<style>
  .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
.card-title {
  font-size: 20px;
  margin-top: 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card-description {
  font-size: 16px;
  color: #666;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background-color: #0062cc;
}
</style>
  <div class="card-container">
  {% for venue in venue_location %}
  <div class="card">
    <h3 class="card-title">{{ venue.name }}</h3>
   <p class="card-description">{{ venue.place }}</p>
    <p class="card-description">{{ venue.location }}</p>
    <h1> Tickets </h1>
    <ul>
      {% for show_ in show %}
      {% for linked in link if linked.venue_id==venue.id and linked.show_id==show_.id %}
        {{ show_.name }} - <b>{{ linked.time }}</b>
      {% if authenticated != 1 %}
      {% if linked.tickets_left < 1 %}
      <p><button type="submit" disabled style="background-color: grey;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;">Housefull</button></p>
      {% elif linked.tickets_left >= 1 %}
    <p></p>
      {% endif %}
      {% elif linked.tickets_left < 1 %}
        <p><button type="submit" disabled style="background-color: grey;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;">Housefull</button></p>
      {% elif authenticated == 1 and linked.tickets_left >= 1 %}
      <form method="GET"
                action="{{ url_for('book_ticket', sid=linked.show_id, vid=linked.venue_id) }}">
            <input type="submit" class="card-button" value="Book Now"></form>
      {% endif %}
    
      {% endfor %}
    
      {% endfor %}
       
        </ul>
  </div>
    {% endfor %}
  </div>
    <a href="/">Back to homepage</a>
</html>